<!DOCTYPE html>
<html>
<head>
  <title>HerMajestysSecretApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <button id="actors">The Actors</button>
    <button id="total-gross">Total Grosses</button>
    <button id="best-bond">The Best Bond</button>


    <h2 id="title">Bond Films</h2>
    <ul id="view">


    </ul>
  </div>
<%= yield %>

</body>
</html>
